@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{ background: #16161A}

.secondary-color{background: #323035}

.font-main{
    font-family: "Inter", sans-serif;
    font-style: normal;
}

select {
    color: white; 
    background-color: #323035; 
}

select:focus {
    background-color: #16161A;
    color: white; 
}

.products-container::-webkit-scrollbar {
    width: 8px; 
}

.products-container::-webkit-scrollbar-thumb {
    background-color: #ceccce; 
    border-radius: 10px; 
}

.products-container::-webkit-scrollbar-track {
    background: #323035; 
}

/* Cuando el checkbox NO está marcado, el menú está oculto */
#mobile-checkbox:not(:checked) ~ #sidebar-menu {
    transform: translateX(-100%);
}

/* Cuando el checkbox está marcado, el menú se muestra */
#mobile-checkbox:checked ~ #sidebar-menu {
    transform: translateX(0);
}

/* Este estilo asegura que el menú esté siempre visible en pantallas grandes */
@media (min-width: 1024px) {
    #mobile-checkbox:checked ~ #sidebar-menu {
        transform: translateX(0);
    }
}
